#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 4rem;
  text-align: center;
}
input::placeholder{
  color: white; 
}
@media (max-width:500px) {
  #todo{
    right: 5px;
  }
}
@media (max-width:584px) {
  #deleteTodo{
   width: 100%;
   margin-top:2rem !important;
  }#todoesMain{
    justify-content: center !important;
  }
}
@media (max-width:767px) {
  #root{
    padding: 1rem;
  }aside{
    display: none !important;
  }
}
p {
  font-family: cursive;
}
.swal-footer{
  text-align: center;
}
.swal-button {
  background-color: #3a6579 !important;
}
.swal-title{
  font-family: cursive;
}
input:-webkit-autofill,
     input:-webkit-autofill:focus {
         transition: background-color 600000s 0s, color 600000s 0s;
     }

     input[data-autocompleted] {
         background-color: transparent !important;
     }